<!DOCTYPE html>
<html>
<body>
<a class="active" href="/search"><H1>Search</H1></a>
{% for slave in slaves%}
<a class="ansi-cyan-bg" href="/visualize_slave/{{ slave }}"><h2>Visualize slave {{ slave }}</h2></a>
{% endfor %}
{% for form in forms %}
<div class="topnav">
  <div class="search-container">
    <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><H1>Search</H1></legend>

                <div class="form-group">
                    <H3>{{ form.query.label(class="form-control-label") }}</H3>
                    {% if form.query.errors %}
                        {{ form.query(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.query.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <H2>{{ form.query(class="form-control form-control-lg") }}</H2>
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                <H1>{{ form.submit(class="btn btn-outline-info") }}</H1>
            </div>

        </form>
  </div>
</div>

{% endfor %}

{% if posts %}
<div class="list-group">
    <H1>Results of query</H1>

    {% for post in posts %}
        {{post.content}}
    {{post}}
    {{"Sup"}}
    {% endfor %}

</div>
{% endif %}
</body>
</html>