<H1>Welcome to slave visualization panel</H1>
<div style="text-align: center;"><h3>We have explained variance equal to {{ variance }}</h3></div>

<div style="text-align: center;">
<div class="fa-picture-o">
    <img src="/get_pic/2d.png" alt="2d visualization of PCA transformation" width="1000">
    <h1>2d visualization of PCA transformation</h1>
</div>
</div>
<div style="text-align: center;">
<div class="fa-picture-o">
    <img src="/get_pic/3d.png" alt="3d visualization of PCA transformation" width="1000">
    <h1>3d visualization of PCA transformation</h1>
</div>
</div>


