<H1>Welcome to slave visualization panel</H1>
<h1><a href="http://127.0.0.1:5000/">Master Search</a></h1>

<div style="text-align: center;"><h3>We have explained variance equal to {{ variance }}</h3></div>

<H2>There are less than 3 doc inserted run crawler or await it to populate db</H2>

{% for pic in pics%}
<div style="text-align: center;">
<div class="fa-picture-o">
    <img src="/get_pic/{{ pic }}" alt="{{ pic }} visualization of PCA transformation" width="1000">
    <h1>2d visualization of PCA transformation</h1>
</div>
</div>
{% endfor %}
<!--<div style="text-align: center;">-->
<!--<div class="fa-picture-o">-->
<!--    <img src="/get_pic/3d.png" alt="3d visualization of PCA transformation" width="1000">-->
<!--    <h1>3d visualization of PCA transformation</h1>-->
<!--</div>-->
<!--</div>-->


